* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.8;
}
.container{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  
}
 .card{
  background-color: aqua;
  width: 360px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
 }
